<h1>Add new link</h1>


<% if @post.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@post) do |f| %>
  <div class="form-group">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>
  <%= f.submit 'Post Link', :class => "btn btn-primary" %>
<% end %>

